body{
  background-color: rgb(130, 246, 6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
 
}

.main{
  display: flex;
  justify-content: center;
}
.box{ 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
  width: 400px;
  height: 650px;
  background-color: white;
 
}
.item-img{
  width: 400px;
}

.buttonList {
  align-items: center;
  border-top: 1px solid #ccc;
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding-top: 1.5rem;
}
button{
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
}
button:hover{
  background-color: yellow;
}


.Win {
  border: 5px solid green;
  color: green;
}

.Lose {
  border: 5px solid red;
  color: red;
}

.Tie {
  border: 5px solid purple;
  color: purple;
}